# PowerController development environment variables
APP_ENV=development

# Set the config file to use
APP_CONFIG=configs/development.yaml

# Power Controller Viewer access key for posting state data and viewing the app
VIEWER_ACCESS_KEY=op://Dev/PowerControllerViewer/PostingKey