# PowerController production environment variables for Sysdney
APP_ENV=production

# Set the config file to use
APP_CONFIG=configs/production.yaml

# Power Controller Viewer access key for posting state data and viewing the app
VIEWER_ACCESS_KEY=op://Dev/PowerControllerViewer/PostingKey